streamlit
nltk
transformers
langdetect
textblob
googletrans==4.0.0-rc1
pymupdf
torch==2.5.1  # Use a compatible version of PyTorch
tensorflow==2.18.0  # Use the latest compatible version of TensorFlow
