streamlit
nltk
transformers
langdetect
textblob
googletrans==4.0.0-rc1
pymupdf
transformers
torch
torch==2.0.1+cpu  # Replace `+cpu` with your environment configuration
streamlit
transformers
torch==2.0.1+cpu  # CPU-compatible PyTorch version
nltk
tensorflow==2.12.0
